.afSlingshot .file-list .file .image-preview{
  max-width: 100%;
  max-height: 100%;
}

.afSlingshot .file-list .file h4{
  overflow: hidden;
  word-wrap: break-word;
}

.afSlingshot .file-list .file{
  background-color: white;
  text-align: center;
}

.afSlingshot .file-list .file .file-icon{
  padding: 10px;
}

.afSlingshot .file-icon{
  font-size: 100px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
	font-family: FontAwesome;
}

.afSlingshot .file-icon.application-zip:before{
  content: "\f1c6";
}
